<div class="new-wrap-container" style='top:10%'>
    <h1 class="form-greet">Be Dewey!</h1>
    <h3 class="form-greet-instruct">(Join or add a friend to our community)</h3>
    <div id="row1">
        <div class="form-item">
            <input type="text" name="name" placeholder="Name">
        </div>
        <div class="form-item">
            <input type="number" name="age" placeholder="Age">
        </div>
    </div>
    <div id="row2">
        <div class="form-item">
            <input type="string" name="hobby" placeholder="Hobby">
        </div>
    </div>    
    <div id="row3">
        <div class="form-item">
            <input type="text" name="city" placeholder="City">
        </div>
        <div class="form-item">
            <input type="text" name="state" placeholder="State">
        </div>
    </div>
    <div id="row4">
        <div class="form-item form-item-no-grow">
            <label>Picture</label>
            <input type="file" name="picture" class="filepond">
        </div>
    </div>
</div> 