
		<div class="login-only-form-wrapper" data-logonlyuseron="<%=useron%>">
            <div class="related-wrapper">
                <div class="lof-wrapper">        
                    <h1 class='login-header'>Login please!</h1>
                    <form id="login-only-form" action="/users/users/login" method="POST">
                        <input id="login-only-username"type="text" name="username" placeholder="Email or Username" required>
                        <input id="login-only-password" type="password" name="password" placeholder="Password" required>
                        <input id="login-only-btn" type="submit" value="Login">
                    </form>
                </div>
            </div>
		</div>
