<div id="message-wrapper" data-messageon="<%=messageonoff%>">
    <ul>
        <li class='log-status'><a href='/users/users/logout'>Leave the app</a></li>
        <li class='log-status'><a href='/deweys/deweys'>Stay On</a></li>
    </ul>
</div>