<div class="form-wrap">
    <div class="tabs-content">
        <div id="signup-tab-content" class="signup-content t-content active" data-id="signup-tab-content" data-useron="<%=useron%>">
            <!-- <form class="signup-form" action="/users//api/change-password" method="post"> -->
                <input type="password" class="input" name='password' id="user_pass" autocomplete="off" placeholder="Password">
                <input type="submit" class="button" value="Sign Up">
            <!-- </form> --><!--.login-form-->
        </div><!--.signup-tab-content-->
    </div><!--.tabs-content-->
</div><!--.form-wrap-->

<script>
    async function registerUser() {
        const form = document.getElementById('reg-form')
        form.addEventListener('submit', registerUser)
            const result = await fetch('/users/api/change-password', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json',
            },
            body: JSON.stringify({
                newpassword: password,
                token: localStorage.getItem('token')
            })
        })
            .then(res => res.json())
            // .then(data => console.log('Data received'))

            if(result.status === 'ok') {
                console.log('Got the token')
                localStorage.setItem('token', result.data)
                alert("Success")
            } else {
                alert(result.error)
            }
    }       

</script>