<form action="/deweys/join" method="POST">
  <%-include('_form_fields')%>
  <div class="form-row form-row-end btn-row">
    <button id='new-submit-btn' class='btn-primary' type="submit">Submit</button>
  </div>
</form>