.footer-main {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
    background: linear-gradient(to bottom, rgb(173, 216, 230) 0%, rgb(102, 112, 150) 100%);
}

.footer-title {
    position: absolute;
    bottom: 5%;
    left: 50%;
	transform: translate(-50%, -25%);
    width: 20%;
    text-align: center;
    margin: 0 auto;
    color: red;
}

.footer-title:hover {
    color: pink;
    transform: translate(-50%, -25%) scale(1.5);    
}

@media(max-width: 495px) {
    .footer-title {
        position: absolute;
        bottom: 5%;
        left: 50%;
	    transform: translate(-50%, -25%);
        font-size: 0.5rem;
        width: 20%;
        margin: 0 auto;
        color: red;
    }   
}