.header-main {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    background: linear-gradient(to top, rgb(173, 216, 230) 0%, rgb(102, 112, 150) 100%);
}

#nav-list {
    text-decoration: none;
    float: right;
    color: yellow;
    z-index: 2;    
}

#nav-list li {
    list-style: none;
    float: right;
    clear: left;
    padding: 1.25em;
    z-index: 2;
}

.click-me {
	background-color: orange;
	color: white;
	z-index: 1;
}

/* #message-wrapper {
    margin: 0;
    padding: 0;
    height:10vh;
} */

#message-wrapper ul{
    position: absolute;
    right:0%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 50%;
    top: 1em;
    padding: 0 .125em;
}

#message-wrapper ul li{
    display: inline-block;
    background-color: blue;    
    margin-right: .5em;
    font-size: 0.8em;
    text-justify: center;
    text-decoration: none;
    width: 25%;
    height: auto;
    text-align: center;
    /* z-index: 2; */
}

#message-wrapper ul li a {
    color: yellow;
}


@media (max-width: 670px) {
	#nav-list li {
		padding: .3125em;
	}
    #message-wrapper ul li.log-status {
		display: inline-block;
		margin-right: .25em;
		background-color: blue;
		font-size: 0.8em;
		text-justify: center;
		text-decoration: none;
		width: 35vw;
		height: auto;
		text-align: center;
		z-index: 2;
	}	
}

@media (max-width: 350px) {
	#nav-list {
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        text-decoration: none;
        top: 0.5em;
        right: .25em;
        padding: .25em .25em 0 0;
        color: yellow;
        z-index: 2;   
	}
    #nav-list li.header-item {
        font-size: 0.65em;
        margin-bottom: 0.5em;
        padding-top: 0.1em;
        padding-right: 0.10em;
        text-align: flex-end;
        z-index: 2;
	}
    #message-wrapper ul {
		position:absolute;
        top:20%;
        right:0%;
        display: flex;
        flex-direction: column;
		/* margin-right: .25em; */
		font-size: 0.8em;
		text-justify: center;
		text-decoration: none;
		width: 30%;
		height: auto;
		text-align:flex-end; 
        align-items: flex-end;
		z-index: 2;
	}
    #message-wrapper ul li.log-status {        
        background-color: blue;
        color: yellow;        
        margin-bottom: 1em;
        /* padding-top: 0.35em; */
        margin-right: 0.25em;
        padding: .1em;
        justify-content: flex-end;
        align-items: flex-end;
        width:65%;
        text-align:center;
     }
    #message-wrapper ul li.log-status a {
        color: yellow;
        align-self: flex-end;
        justify-content: flex-end;
        text-align: center;
        width: 10vw;
        font-size: 0.85em;
        /* margin: .25em; */
    }
    .btn-container {
        display: flex;
        left:0;
        width: 80%;        
        height: 15%;
        align-items: flex-start;
        justify-items: center;
    }
    .i-container {
        position: relative;
        display: flex;
        left:0;
        width: 90%;
        height: 85%;
        align-items: center;
        justify-items: center;
    }
    .body-container {
        position: relative;
        display: grid;
        width: 85%;
        height: 50%;
        top: -5%;
        /* bottom: 30vh; */
        left: 0;
        grid-template-rows: 1fr 6fr;
    }
    #faceSelection2 {
        width: 50%;
    }
    .choose-container {
        top: 0%;
        display: grid;
        width: 100%;
        height: 40vh;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
    }
    .h-page-wrapper {
        width:80%;
    }
    #submittal {
        position: absolute;
        /* bottom: 40vh; */
        left: 0%;
        padding: .125em;
        background: blue;
        color: yellow;
        border: .0625em solid black;
        text-decoration: none;
    }
    #next-btn {
        position: absolute;
        bottom: 41vh;
        right: 0%;
        transform: translate(50%, 0);
        padding: .125em;
        background: blue;
        color: yellow;
        border: .0625em solid black;
        text-decoration: none;
    }
}
